<table>
  <tbody>
    <tr>
      <th>Custom css stylesheet</th>
      <tr>
      <td><textarea id="settings_stylesheet_text" rows="40" cols="60"
             name="settings[stylesheet_text]" ><%= settings['stylesheet_text'] %></textarea>
      </td>
    </tr>
  </tbody>
</table>

